<div class="alsea">
	<a href="/cursos" class="btn btn-primary btn-lg btn-inicio" role="button">Cursos</a>
	<a href="/clases" class="btn btn-primary btn-lg btn-inicio" role="button">Clases</a>
	<a href="/aulas" class="btn btn-primary btn-lg btn-inicio" role="button">Aulas</a>
	<a href="/reportes" class="btn btn-primary btn-lg btn-inicio" role="button">Reportes</a>
	<a href="/finalizarClase" class="btn btn-primary btn-lg btn-inicio" role="button">Finalizar Clase</a>
</div>