<div class="form-login">
  <p class="errorLogin error-show">No se encontró el DNI ingresado o no corresponde a un Entrenador.</p>
  <div class="button-area">
    <button id="goto-menu" type="submit" class="btn btn-default">Volver</button>
  </div>
</div>


<script type="text/javascript">

	$('#goto-menu').on('click', function(e) {
      window.location = '/finalizarClaseAdmin';
	});

</script>
