<h2 style="text-align: center">Sistemas de Gestión de Capacitación <small>Alsea S.A</small></h1>

<p><button type="button" class="btn btn-primary btn-lg">Cursos</button></p>
<p><button type="button" class="btn btn-primary btn-lg">Clases</button></p>
<p><button type="button" class="btn btn-primary btn-lg">Aulas</button></p>
<p><button type="button" class="btn btn-primary btn-lg">Reportes</button></p>
