
<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Ha sido seleccionado para dictar una clase</title>
</head>

<body bgcolor="#F6F6F6" style="background-color: #F6F6F6">

<!--tabla contenedora -->
 <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#F6F6F6">
    <tbody>
        <tr>
            <td height="20px"><font style="font-size: 8px">&nbsp;</font></td>
        </tr>
        <tr>
            <td align="center" >

                <!--tabla estructura -->
                <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0"  style="max-width: 600px; line-height: 1.25em;">
                    <tbody>
                        <tr>
                            <td bgcolor="#FFF" align="center" style="background-color: #FFF"   > 

                                <!-- tabla contenido -->
                                <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0" style="max-width: 400px; font-size: 14px; font-family: Arial, Helvetica, 'sans-serif'; color: #333; background-color: #FFF">
                                    <tbody>
                                        <tr>
                                            <td height="20px" ><font style="font-size: 8px">&nbsp;</font></td>
                                        </tr>
                                        <tr>
                                            <td height="20px" ><font style="font-size: 8px">&nbsp;</font></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p style="color: #016ab3;font-size: 18px; margin-bottom:0px; margin: 0; line-height: 1.3em; font-family: Arial, Helvetica, 'sans-serif';text-align: left; "><strong>&iexcl;BIENVENIDO/A, [[entrenador]]!</strong></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p style="margin: 0; text-align: left;"><span style="padding-top: 10px; display: inline-block;">Ha sido seleccionado para [[verbo]] una la clase: "[[clase]]" del Curso: "[[curso]]" el dia: "[[fecha]]" en el aula: "[[aula]]"</p>
                                            </td>
                                        </tr>
                                        
                                        <tr>
                                            <td height="25px" ><font style="font-size: 8px">&nbsp;</font></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- tabla contenido FIN -->

                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- tabla estructura FIN -->

            </td>
        </tr>
        <tr>
            <td height="20px"></td>
        </tr>
    </tbody>
</table>
<!-- tabla contenedora FIN -->

</body>

</html>
